<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <booleanAttribute key="ADAPTIVE_CLOCK" value="false"/>
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="2762755"/>
        <mapEntry key="*list global low level symbols" value="39624183"/>
        <mapEntry key="*loading values from target" value="15644000"/>
        <mapEntry key="*updating registers" value="69986873"/>
        <mapEntry key="AddEventObserver" value="6122549"/>
        <mapEntry key="Evaluate" value="1645917"/>
        <mapEntry key="ListRegimeWarningsCommand" value="135564"/>
        <mapEntry key="areCachesAvailable" value="396900"/>
        <mapEntry key="break" value="4386475"/>
        <mapEntry key="compute execution mode" value="2375041"/>
        <mapEntry key="continue" value="9555236"/>
        <mapEntry key="disassemble" value="197059031"/>
        <mapEntry key="get capabilities" value="311806"/>
        <mapEntry key="get execution addresss" value="649882"/>
        <mapEntry key="get source lines" value="2054221"/>
        <mapEntry key="getValidEncodings" value="311100"/>
        <mapEntry key="initialize command help" value="133615008"/>
        <mapEntry key="interrupt" value="1791049875"/>
        <mapEntry key="list breakpoint options" value="4337102"/>
        <mapEntry key="list breakpoints" value="1672309"/>
        <mapEntry key="list instruction sets" value="2892787"/>
        <mapEntry key="list signals" value="6338325"/>
        <mapEntry key="list translations" value="282250"/>
        <mapEntry key="list watchpoint options" value="4626070"/>
        <mapEntry key="list watchpoints" value="1386775"/>
        <mapEntry key="loadfile" value="1195053395"/>
        <mapEntry key="read memory map" value="16956700"/>
        <mapEntry key="remove" value="1841650"/>
        <mapEntry key="set CWD" value="11912599"/>
        <mapEntry key="set breakpoint properties" value="4880350"/>
        <mapEntry key="set debug-from" value="3764573"/>
        <mapEntry key="start" value="187942784"/>
        <mapEntry key="toggleBreakpoint" value="5623075"/>
        <mapEntry key="updating MMU tables" value="12373"/>
        <mapEntry key="waitForTargetToStop" value="58639468"/>
    </mapAttribute>
    <stringAttribute key="CLOCK_SPEED" value="Auto"/>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/rtos_context_switch/Debug/rtos_context_switch.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
    <booleanAttribute key="SWD" value="false"/>
    <booleanAttribute key="SWJ" value="true"/>
    <stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
    <booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
    <booleanAttribute key="VFS_ENABLED" value="true"/>
    <stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
    <stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.addresses">
        <listEntry value=""/>
        <listEntry value="0x207fffd0"/>
        <listEntry value="0x207fffff"/>
        <listEntry value="0x20040000"/>
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="0xE001E"/>
        <listEntry value="0x10000000"/>
        <listEntry value="0x1000000"/>
        <listEntry value="0x2003FC00"/>
        <listEntry value="0x2003F800"/>
        <listEntry value="0x2003F400"/>
        <listEntry value="0x2003F000"/>
        <listEntry value="$SP"/>
        <listEntry value="0x2003FFFF"/>
        <listEntry value="0x2003FF00"/>
        <listEntry value="0x20030000"/>
        <listEntry value="0x2003000"/>
        <listEntry value="0x0000000"/>
        <listEntry value="0x80101d10"/>
        <listEntry value="0x80100000"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.MemoryView.ranges">
        <listEntry value=""/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
        <listEntry value="1024"/>
    </listAttribute>
    <stringAttribute key="config_db_activity_name" value="Cortex-M33_0"/>
    <stringAttribute key="config_db_connection_keys" value="dtsl_config dtsl_tracecapture_option connect_existing_model dtsl_config_script model_params model_iris config_file model_connection_address setup TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="Arm FVP - MPS2_Cortex_M33"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_db_taxonomy_id" value="/platform/armfvp/mps2_cortex_m33"/>
    <stringAttribute key="config_file" value="CDB://iris_config.xml"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connect_existing_model" value="false"/>
    <listAttribute key="debugger.view.DisassemblyView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="debugger.view.MMUView:DebugOutlineColumnState" value="OutlineConfig1&#9;5&#9;0&#9;true&#9;false&#9;16&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;138&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;155&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;59&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;104&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.MemoryView" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;page&gt;&#10;&#9;&lt;memoryView/&gt;&#10;&lt;/page&gt;&#10;"/>
    <listAttribute key="debugger.view.MemoryView:current">
        <listEntry value=""/>
        <listEntry value=""/>
    </listAttribute>
    <stringAttribute key="debugger.view.NewRegisterView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;111&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;138&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;189&#9;-1&#9;true&#9;3&#9;false&#9;true&#9;59&#9;-1&#9;true&#9;4&#9;false&#9;true&#9;68&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;51&#9;-1&#9;true&#9;6&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;74&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.NewRegisterView:_selectedRegisterSet" value="All registers"/>
    <mapAttribute key="debugger.view.NewRegisterView_registerSets"/>
    <stringAttribute key="debugger.view.VariableTreeView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;217&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;138&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;147&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;59&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;68&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;51&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;90&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;74&#9;-1&#9;true"/>
    <booleanAttribute key="debugger.view.register.DrawAsHex" value="false"/>
    <booleanAttribute key="debugger.view.variable.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="DtslScript"/>
    <stringAttribute key="dtsl_config_script" value="CDB://dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value="default"/>
    <stringAttribute key="dtsl_tracecapture_option" value="options.trace.traceCapture"/>
    <stringAttribute key="launch_configuration_version" value="2021.c"/>
    <booleanAttribute key="linuxOS" value="false"/>
    <stringAttribute key="model_connection_address" value="127.0.0.1:7100"/>
    <stringAttribute key="model_iris" value="1"/>
    <stringAttribute key="model_params" value="-C fvp_mps2.DISABLE_GATING=1 -C cpu0.semihosting-heap_base=0x0 -C cpu0.semihosting-heap_limit=0x0 -C cpu0.semihosting-stack_base=0x0 -C cpu0.semihosting-stack_limit=0x0 "/>
    <booleanAttribute key="runAfterConnect" value="false"/>
    <listAttribute key="setup">
        <listEntry value="CDB://Scripts/rtsm_launcher.py"/>
        <listEntry value="&quot;FVP_MPS2_Cortex-M33&quot;"/>
    </listAttribute>
    <booleanAttribute key="single_platform" value="true"/>
    <stringAttribute key="stopAtExpression" value="main"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
